* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    margin: 0;
    font-family: simsun;
    background: #fff;
}
video{
    d
}

p {
    height: 12px;
}

#cv {
    margin-right: 5px;
}

#canvas{
    display: none;
}

#video {
    border: 1px solid #000;
    width: calc( 50vh * 4/3);
    height: 50vh;
}